<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Результат</title>
  <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body>
  <div class="bg">
    <img th:src="${image}" alt="Background" class="bgimg">
    <div class="bgcolor"></div>
  </div>
  <div class="main_wrap">
    <div class="cardwrap">
      <form th:action="@{/weather}" method="GET" th:object="${weather}">
        <div class="form_wrap">
          <h1>Погода в городе <span th:text="*{city}"></span></h1>
          <div class="content_wrap">
            <p>Погода:</p>
            <span th:text="*{service}"></span>
          </div>
          <div class="button">
            <a class="c_button" th:href="@{/}">Обратно</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
</html>