<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Результат</title>
  <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body>
  <div class="cardwrap">
    <form th:action="@{/weather}" method="GET" th:object="${weather}">
      <div class="form_wrap">
        <h1>Погода в городе <span th:text="*{city}"></span></h1>
        <div class="content_wrap">
          <p>Погода:</p>
          <span th:text="*{service}"></span>
        </div>
      </div>
    </form>
  </div>
</body>
</html>